body {
    margin: 0;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

h1 {
    margin: 0;
}

#root {
    height: 100%;
}

header {
    height: 5%;
    background-color: rebeccapurple;
}

header nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main {
    height: 95%;
    width: 100%;
}